/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');


.letter_button_huge {
  background-color: inherit;
  font-family: "Tiro Devanagari Sanskrit", Arial, Helvetica, sans-serif;
  border: none;
  font-size: 150px;
}

.col {
  padding: 70px 0;

  text-align: center;
}

.letter_button_select {
  font-family: "Tiro Devanagari Sanskrit", Arial, Helvetica, sans-serif;
  font-size: 50px;
  border: none;
  background-color: inherit;

}

.none_selected {
  color: rgb(156, 156, 156);
  font-size: 25px;
}